modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Windows 10 Simulator"

[[workflows.workflow]]
name = "Windows 10 Simulator"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Discord bot"
mode = "sequential"
author = 45837744

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bot && python bot.py"

[[ports]]
localPort = 5000
externalPort = 80
